* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #02343f;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.parent {
  background-color: #f0edcc;
  color: #02343f;
  width: 350px;
  height: 450px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  padding-top: 10vh;
  padding-bottom: 10vh;
}

hr {
  height: 1.5px;
  width: 70%;
  border: none;
  background-color: #02343f;
  margin-top: -30px;
}

.parent .two {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}

.parent .two .content {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.parent .two .content .btn {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: none;
  border: 1px solid #02343f;
}
